.game-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center;
    min-height: 100vh; /* Full viewport height */
}

.title-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}

.back-button {
    position: absolute; /* Position the back button in the top-left corner */
    right: 20px; /* Distance from the left */
    cursor: pointer;
    background-color: #ffcc00;
    border: none;
    border-radius: 50%;
    width: 7vw; /* Responsive width based on viewport */
    height: 7vw; /* Responsive height based on viewport */
    min-width: 50px; /* Minimum size for smaller screens */
    min-height: 50px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Initial shadow */
    transition: background-color 0.2s, box-shadow 0.2s;
    font-size: 2.5rem;
}

.back-button:hover {
    background-color: #ff9900;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.back-button:active {
    background-color: #e6b800;
}

@keyframes ripple {
    from {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0.5;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}

.game-stats-list {
    flex-grow: 1;
    list-style-type: none;
    padding: 0;
    width: 80%;
    text-align: center;
    box-sizing: border-box;
}

.game-stats-list li {
    position: relative;
    margin: 20px 0;
    padding: 20px;
    background-color: #f0f0f0; /* Light gray background */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
}

.square-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    height: 80%;
}

.icon-square, .value-square {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-square {
    left: 0;
    top: 50%;
    width: 10%;
    transform: translateY(-50%);
}

.value-square {
    right: 0;
    top: 50%;
    width: 60%;
    transform: translateY(-50%);
}

.icon-square .icon {
    font-size: 80px; /* Large icon size */
    color: #333333; /* Icon color */
}

.value-square .value {
    font-size: 70px; /* Large value size */
    color: #ff9900; /* Value color */
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Space between buttons */
    margin: 20px 0;
    width: 100%;
}

.icon-container {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
}

/* General button styles */
.control-button {
    cursor: pointer;
    background-color: #ffcc00;
    border: none;
    border-radius: 25%;
    width: 100px;
    height: 100px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    transition: background-color 0.2s, box-shadow 0.2s;
    will-change: transform, background-color;
    font-size: 3.5rem;
}

/* Hover effect */
.control-button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Animation effect for clicked button */
.control-button.clicked {
    animation: growAndReturn 0.5s forwards;
}

/* Keyframes for grow-and-return animation */
@keyframes growAndReturn {
    0% {
        transform: scale(1);
        background-color: #ffcc00;
    }
    50% {
        transform: scale(1.7);
        background-color: #ff9900;
    }
    100% {
        transform: scale(1);
        background-color: #ffcc00; /* Reset color */
    }
}

/* Disabled button styles */
.control-button:disabled {
    cursor: not-allowed;
    background-color: #f0f0f0;
    color: #cccccc;
    box-shadow: none;
    transform: none;
}

/* Disable hover and active effects for disabled buttons */
.control-button:disabled:hover,
.control-button:disabled.clicked {
    background-color: #f0f0f0;
    box-shadow: none;
    transform: none;
}

@media (max-width: 768px) {
    .back-button {
        visibility: collapse;
    }

    .control-button {
        width: 80px; /* Smaller size on smaller screens */
        height: 80px; /* Smaller size on smaller screens */
        font-size: 2.2rem; /* Smaller font size */
    }

    .icon-square .icon {
        font-size: 65px; /* Smaller icon and value size */
    }

    .icon-square.alive-players .icon {
        margin-left: 15px; /* Adjust the icon styling */
    }

    .value-square .value {
        font-size: 45px; /* Smaller icon and value size */
    }
}